/* 

CSS RESET / STARTER

*/

:root {
  --background: #101010;
  --text-bold: #b39802;
  --border: #222222;
  --default-text: whitesmoke;
  --default-icon-theme-mode: black;
}

[theme-mode="light"]{
  --background: #C4C4C4;
  --border: #949494;
  --default-text: black;
  --text-bold: #4C0099;
  --default-icon-theme-mode: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--background);
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

header {
  padding: 15px 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px dotted var(--border);

  position: relative;
}

.social {
  font-size: 24px;
}

.icon {
  color: var(--default-text);
}

.icon:hover {
  color: var(--text-bold);
}

#btn-mode-toggle {
    position: absolute;
    right: 2%;
    background-color: var(--text-bold);
    color: var(--default-icon-theme-mode);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 2px;
}

.terminal {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 20px;
  width: 70%;
  min-height: 560px;
  color: var(--default-text);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 1000px;

  margin: 20px 0;
}

.fileRead {
  color: var(--default-text);
  width: 100%;
  max-width: 800px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.directoryTextModify {
  color: var(--text-bold);
  font-weight: bold;
  font-size: large;
}

.fileTextModify {
  color: var(--text-bold);
}

.directoryTextModify:hover {
  color: var(--default-text);
}

.fileTextModify:hover {
  color: var(--default-text);
}

.cursorTextModify {
  color: var(--text-bold);
}

.cursorBlock {
  display: inline-block;
  height: 17px;
  width: 8px;
  margin-left: 1px;
  animation: blink 1200ms linear infinite;
  vertical-align: text-bottom;
}

footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--default-text);
  padding: 0 0 20px;
}

.signature {
  color: var(--text-bold);
  font-weight: bold;
}

.signature:hover {
  color: var(--default-text);
}

@keyframes blink {
  0% {
    background: var(--default-text);
  }
  49% {
    background: var(--default-text);
  }
  60% {
    background: transparent;
  }
  99% {
    background: transparent;
  }
  100% {
    background: var(--default-text);
  }
}

@media(max-width: 750px) {
  body {
    height: 80vh;
  }
  .terminal {
    border: 0px solid whitesmoke;
    width: 90%;
    margin-right: 50px;
    margin-bottom: 200px;
  }
}

@media(max-height: 1115px) {
  .terminal {
    height: 800px;
  }
}